Repository sequelize/sequelize, pull requests merged in 2019-09, with the labels that each got.

#11373 docs: fixed undefined variable error in sample code
  docs/instances.md
Labels: status: awaiting maintainer, type: docs

#11390 Explain options handling in tedious
  docs/dialects.md
Labels: status: awaiting maintainer, type: docs

#11402 fix(enum): escape values
  lib/dialects/postgres/query-generator.js
  test/integration/dialects/postgres/dao.test.js
Labels: status: awaiting maintainer, type: bug

#11444 Fixed typo in documentation
  docs/data-types.md
Labels: status: awaiting maintainer, type: docs

#11434 fix(bulkcreate): use correct PK column names in updateOnDuplicate
  lib/model.js
  test/integration/model/bulk-create.test.js
Labels: dialect: postgres, dialect: sqlite, status: awaiting maintainer, type: bug

#11416 docs: Keeping consistency around the spacing inside of curly brackets
  docs/models-usage.md
Labels: status: awaiting maintainer, type: docs

#11267 fix(log): show bind parameters in logs instead of placeholders
  lib/dialects/abstract/query.js
  lib/dialects/mariadb/query.js
  lib/dialects/mssql/query.js
  lib/dialects/mysql/query.js
  lib/dialects/postgres/query.js
  lib/dialects/sqlite/query.js
  lib/sequelize.js
  test/integration/sequelize.test.js
  types/lib/sequelize.d.ts
Labels: status: awaiting response, type: other

#11439 fix(mssql): filter tables only in mssql+mysql showTablesQuery
  lib/dialects/mssql/query-generator.js
  lib/dialects/mysql/query-generator.js
  test/integration/query-interface.test.js
  test/unit/dialects/mssql/query-generator.test.js
Labels: dialect: mssql, status: awaiting maintainer, type: bug

#11405 docs: reorganize files and improve styles
  .esdoc.json
  docs/ROUTER.txt
  docs/css/style.css
  docs/esdoc-config.js
  docs/index.md
  docs/manual-groups.json
  docs/manual/associations.md
  docs/manual/data-types.md
  docs/manual/dialects.md
  docs/manual/getting-started.md
  docs/manual/hooks.md
  docs/manual/instances.md
  docs/manual/legacy.md
  docs/manual/legal.md
  docs/manual/migrations.md
  docs/manual/models-definition.md
  docs/manual/models-usage.md
  docs/manual/querying.md
  docs/manual/raw-queries.md
  docs/manual/read-replication.md
  docs/manual/resources.md
  docs/manual/scopes.md
  docs/manual/transactions.md
  docs/manual/typescript.md
  docs/manual/upgrade-to-v5.md
  docs/manual/whos-using.md
  docs/run-docs-transforms.js
  docs/transforms/group-data-types.js
  docs/transforms/header-customization.js
  docs/transforms/menu-groups.js
  package.json
Labels: status: awaiting maintainer, type: docs, type: other, type: refactor

#11406 feat: added support for multiple primary key attributes
  types/lib/model.d.ts
  types/test/model.ts
Labels: status: awaiting maintainer, type: typescript

#11454 fix: sequelize.where col not null (#11447)
  lib/dialects/abstract/query-generator.js
  lib/utils.js
  test/unit/dialects/abstract/query-generator.test.js
  test/unit/sql/where.test.js
  test/unit/utils.test.js
Labels: status: awaiting maintainer, type: bug
