Repository sequelize/sequelize, pull requests merged in 2019-07, with the labels that each got.

#10802 fix(types): relax order typing
  types/lib/model.d.ts
  types/test/include.ts
Labels: typings

#11067 fix(sqlite): don't break when adding a 2nd constraint to a table
  lib/dialects/sqlite/query-generator.js
  lib/dialects/sqlite/query-interface.js
  test/integration/query-interface.test.js
Labels: dialect: sqlite, status: awaiting response, type: bug

#11226 docs(README): mention sequelize-cockroachdb
  README.md
Labels: status: awaiting approval, type: docs

#11231 Adding async/await example to documentation
  docs/migrations.md
Labels: status: awaiting approval, type: docs

#11163 feat(postgres): enabling the updateOnDuplicate BulkCreate option
  lib/dialects/abstract/query-generator.js
  lib/dialects/mariadb/index.js
  lib/dialects/mysql/index.js
  lib/dialects/postgres/index.js
  lib/model.js
  test/integration/model/bulk-create.test.js
  test/unit/dialects/postgres/query-generator.test.js
  test/unit/sql/insert.test.js
  types/lib/model.d.ts
Labels: dialect: postgres, status: awaiting response, type: feature

#11236 fix(search_path): disable bindParam in updateQuery
  lib/dialects/abstract/query-generator.js
  test/integration/model/searchPath.test.js
Labels: status: awaiting approval, type: bug

#11235 Postgres 10 identity columns support for autoIncrement columns
  lib/dialects/postgres/query-generator.js
  lib/model.js
  test/unit/dialects/postgres/query-generator.test.js
  types/lib/model.d.ts
Labels: dialect: postgres, status: awaiting approval, type: feature

#11170 feat: specify fields to return for bulkCreate
  docs/instances.md
  lib/dialects/abstract/query-generator.js
  lib/model.js
  test/unit/dialects/postgres/query-generator.test.js
  types/lib/model.d.ts
Labels: dialect: postgres, status: awaiting approval, type: feature

#11252 fix(mssql): save number bigger than 2147483647
  lib/dialects/mssql/query.js
  test/integration/dialects/mssql/regressions.test.js
Labels: dialect: mssql, status: awaiting approval, type: bug

#11255 fix(model): destroying paranoid models with custom deletedAt
  lib/model.js
  test/integration/instance.test.js
  test/integration/instance/destroy.test.js
  test/unit/model/destroy.test.js
Labels: status: awaiting approval, type: bug
