Repository sequelize/sequelize, pull requests merged in 2020-05, with the labels that each got.

#12226 Doc: remove unnecessary comment on typescript
  docs/manual/other-topics/typescript.md
Labels: status: awaiting response, type: docs

#12201 Fix nav links of synonymous sub-headings under Associations
  docs/transforms/fix-ids.js
  package.json
Labels: status: awaiting response, type: docs

#12272 docs(query-interface): fix broken links
  docs/manual/other-topics/query-interface.md
Labels: status: awaiting maintainer, type: docs

#12020 fix(model): check attributes specified for included through model
  lib/model.js
  test/integration/include/findAll.test.js
Labels: status: awaiting response
