Repository sequelize/sequelize, pull requests merged in 2022-06, with the labels that each got.

#14619 feat: fix multiple bugs related to `sync()` and indexes. Add `Model.getIndexes()`
  src/dialects/abstract/index.ts
  src/dialects/abstract/query-interface.js
  src/dialects/db2/index.js
  src/dialects/db2/query-generator.js
  src/dialects/db2/query-interface.js
  src/dialects/mssql/index.js
  src/dialects/mssql/query-generator.js
  src/dialects/mssql/query-interface.js
  src/dialects/postgres/query-generator.js
  src/dialects/sqlite/query-generator.js
  src/model.d.ts
  src/model.js
  src/utils/string.ts
  test/integration/associations/belongs-to-many.test.js
  test/integration/associations/has-many.test.js
  test/integration/dialects/mariadb/dao-factory.test.js
  test/integration/dialects/mysql/dao-factory.test.js
  test/integration/model.test.js
  test/integration/model/sync.test.js
  test/integration/query-interface/createTable.test.js
  test/integration/query-interface/removeColumn.test.js
  test/unit/associations/belongs-to-many.test.ts
  test/unit/dialects/db2/query-generator.test.js
  test/unit/dialects/sqlite/query-generator.test.js
  test/unit/model/indexes.test.js
  test/unit/sql/index.test.js
Labels: type: bug, dialect: db2

#14453 fix: resolve various db2 issues
  dev/db2/11.5/.env_list
  dev/db2/11.5/start.sh
  src/dialects/abstract/query-generator.js
  src/dialects/db2/query-generator.js
  src/dialects/db2/query-interface.js
  src/dialects/db2/query.js
  src/sequelize.js
  test/integration/model.test.js
  test/integration/model/schema.test.js
  test/integration/model/sync.test.js
  test/integration/query-interface.test.js
  test/integration/query-interface/changeColumn.test.js
  test/integration/sequelize/query.test.js
  test/integration/support.js
  test/support.ts
  test/unit/dialects/db2/query-generator.test.js
  test/unit/sql/create-table.test.js
  test/unit/sql/index.test.js
Labels: type: bug, dialect: db2

#14572 feat: support cyclic foreign keys (v7)
  src/dialects/abstract/index.ts
  src/dialects/abstract/query-interface.d.ts
  src/dialects/abstract/query-interface.js
  src/dialects/abstract/query.d.ts
  src/dialects/db2/query-generator.js
  src/dialects/db2/query-interface.js
  src/dialects/mssql/query-generator.js
  src/dialects/mysql/query-generator.js
  src/dialects/postgres/query-generator.js
  src/dialects/postgres/query-interface.js
  src/dialects/sqlite/query-generator.js
  src/dialects/sqlite/sqlite-utils.ts
  src/model-manager.d.ts
  src/model-manager.js
  src/model.d.ts
  src/model.js
  src/sequelize.js
  src/transaction.ts
  test/integration/model.test.js
  test/integration/model/sync.test.js
  test/integration/sequelize/drop.test.ts
  test/integration/sequelize/truncate.test.ts
  test/integration/support.ts
  test/unit/associations/belongs-to.test.ts
  test/unit/dialects/postgres/query-generator.test.js
Labels: type: feature

#12921 fix(typings): raw=true queries return custom attributes
  src/model.d.ts
  test/types/findAll.ts
  test/types/findByPk.ts
  test/types/findOne.ts
  test/types/where.ts
Labels: type: typescript

#14649 build: run eslint on `.d.ts`, `/dev` and `test/types`
  .eslintrc.js
  dev/sscce-helpers.d.ts
  dev/sscce-helpers.js
  src/data-types.d.ts
  src/dialects/abstract/connection-manager.d.ts
  src/dialects/abstract/query-generator.d.ts
  src/dialects/abstract/query-interface.d.ts
  src/dialects/abstract/query.d.ts
  src/hooks.d.ts
  src/index.d.ts
  src/instance-validator.d.ts
  src/model-manager.d.ts
  src/model.d.ts
  src/sequelize.d.ts
  src/utils/set-required.d.ts
  src/utils/validator-extras.d.ts
  test/types/associations.ts
  test/types/connection.ts
  test/types/create.ts
  test/types/data-types.ts
  test/types/define.ts
  test/types/destroy.ts
  test/types/errors.ts
  test/types/find-all.ts
  test/types/find-by-pk.ts
  test/types/find-one.ts
  test/types/hooks.ts
  test/types/include.ts
  test/types/index-hints.ts
  test/types/infer-attributes.ts
  test/types/model-count.ts
  test/types/model.ts
  test/types/models/user-group.ts
  test/types/models/user-post.ts
  test/types/models/user.ts
  test/types/query-interface.ts
  test/types/sequelize.ts
  test/types/transaction.ts
  test/types/type-helpers/deep-writable.ts
  test/types/typescript-docs/define.ts
  test/types/typescript-docs/model-init-no-attributes.ts
  test/types/typescript-docs/model-init.ts
  test/types/typescript-docs/readme.md
  test/types/update.ts
  test/types/upsert.ts
  test/types/usage.ts
  test/types/validators.ts
  test/types/where.ts
Labels: type: refactor, type: typescript

#14657 fix(mysql,mariadb): remove extra `FROM` from showIndexes
  src/dialects/mysql/query-generator.js
  test/unit/dialects/mariadb/query-generator.test.js
  test/unit/dialects/mysql/query-generator.test.js
Labels: type: bug, dialect: mysql, dialect: mariadb

#14574 fix: kill connection on commit/rollback error (v7)
  src/dialects/abstract/connection-manager.ts
  src/sequelize.d.ts
  src/sequelize.js
  src/transaction.ts
  test/integration/sequelize.transaction.test.js
  test/integration/sequelize.transaction.test.ts
  test/unit/transaction.test.js
Labels: type: bug

#14668 fix(types): fix `findAll()` being treated as raw
  src/model.d.ts
  test/integration/sequelize.transaction.test.ts
  test/types/find-all.ts
Labels: type: typescript
